/*
DEV
-----------------------------------------------------------------------------*/
.TestColorGreen {
	background-color:green;
}

.TestColorBlue {
	background-color:blue;
}

.TestOutline {
	border-bottom:1px solid #e2e2e2;
}/* reset */
/*
html {
    background-color: #e6e2e2
}
*/
/*
responsive
-----------------------------------------------------------------------------*/
/*
components
-----------------------------------------------------------------------------*/
.PaddingTopFooter {      /* helps making the illusion that the front element blocks line with outsine of #top and #footer */
	padding-right: 1.0175rem;
}

.ContentBlock {
	min-height: 40rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
}


@media screen and (min-width: 480px) {
.KcriksBg {
	background:url(http://www.konstnarscentrum.org/edit/images/icons/konstnarscentrum_m.png);
	background-position:left top;
	background-repeat:no-repeat;
}
}

@media screen and (min-width: 980px) {
.KcriksBg {
	background:url(http://www.konstnarscentrum.org/edit/images/icons/konstnarscentrum.png);
	background-position:left top;
	background-repeat:no-repeat;
}
}

/* Indexpage front elements */


.FrontContentElementText, a {
	color: black !important;
}

.FrontContentElement ul {
	margin:0!important;
}

.FrontContentElement li {
	display:block;
	font-size:.5rem;
	max-width:17.8rem;
	list-style:none;
	margin-right: .9171rem; /* pushes blocks to right enough to make the illusion that the are evenly devided and centered but not too much FF does not play nice*/
	margin-top:.9rem;
	margin-bottom:1.3rem;
	background-color:#fff;
}

.FrontContentElement li:a {
	text-decoration:none;
}

.FrontContentElement li:hover {
	background-color:#d0d0d0;
}

.KCCentrum li:hover {
	background-color:white !important;
}

.FrontContentElementText,p,a {
	padding-left:.5rem;
	padding-right:.5rem;
	padding-top:0!important;
}

.FrontContentElementDate {
	font-variant:small-caps;
	font-weight:700;
	font-size:1rem;
	margin-bottom:-.1rem;
}

.FrontContentElementSource {
	font-size: 1.5rem;
	font-variant: small-caps;
	font-weight: 700;
	display: block;
	margin-bottom: 1rem;
}
.FrontContentElementTitle {
	display:block;
	font-size:1.2rem;
	font-variant: normal;
	margin-bottom: 1rem;
}

.FrontContentElementContent {
	display: block;
	margin-bottom: 1rem;
	font-size: .8rem;
	line-height: .979rem !important;
}
#KCC {
	background-color:grey!important;
}

#KCC p {
	color:white !important;
}

#KCC:hover {
	background-color:#d0d0d0 !important;
}

#KCC:hover p {
	color:black !important;
}

.top,footer {
	background-color:#000;
	height:9rem;
}

/*
Colors
-----------------------------------------------------------------------------*/
.colorWhite {
	background-color:#fff;
}

.BgLightGray {
	background-color:silver;
}

/* =Typography
-----------------------------------------------------------------------------*/
body {
	background-color:#e6e2e2;
}

p, table  {
	font-size:1.125rem;
	font-family:'Open Sans',sans-serif;
	font-style: normal;
	font-weight:100;
	line-height:1.375rem;
	margin-bottom:0.2rem;
	margin-left:0 !important;
	margin-right:0;
	color:#00000;
}



h1, h2 {
		margin-left:.5rem;
}
h1 {
	font-size:1.375rem;
	font-family:'Open Sans',sans-serif;
	font-weight:400;
	line-height:1.375rem;
	letter-spacing:0.12rem;
	margin-bottom:1.6rem;
	margin-right: 0;
	color:#000;
}

h2 {
	font-size:1.188rem;
	font-family:'Open Sans',sans-serif;
	font-weight:400;
	line-height:1.375rem;
	margin-bottom:0.2rem;
	margin-top:1.1rem;
	margin-right:0;
	color:#000;
}



h3 {
	font-size:1.8em;
	font-family:'Open Sans',sans-serif;
	font-weight:400;
	margin-bottom:.18em;
}


.FooterAdress {
	font-family:'Open Sans',sans-serif;
	font-size:1.063rem;
	font-style: normal;
	text-align: center;
	letter-spacing:.005em;
	font-weight:400;
	color: white;
	margin-top: 1.4rem; /* same as contentblock */
}

.FooterAdressNumber {
	font-family:'Open Sans',sans-serif;
	font-size:.88em;
	letter-spacing:.005em;
	font-weight:400;
}

a:link {
	text-decoration:none;
	color:gray;
}

a:visited {
	text-decoration:none;
	color:silver;
}

a:hover {
	text-decoration:none;
	background-color:#ffcc99;
}

a:active {
	text-decoration:none;
	color:gray;
}


/* navmenu */
.kcriksmenu {
	margin-top:5.4rem; /* pushes the menu */
	z-index:999;
	color: white !important;
	font-size:1.5rem;
	font-family:'Open Sans',sans-serif;
	font-weight:400;
	font-variant:small-caps;
	letter-spacing:.04rem;

}


/* orig from Foundation */
.dropdown.menu {
	background: black;


}
.dropdown.menu li a {
	color: white !important;
	height: 50px; /* important for backgroundimage Navhere */
}
.dropdown.menu .submenu {
 	background: #cc9966 !important;
    min-width: 150px;
    margin-left: .5rem; /* pushes the dropdown */
  .dropdown.menu .submenu > li {
    width: 100%; }
    }

/* orig from Foundation */


.submenu li a:link {
	background-color:#cc9966;
	color:#000;
	padding-left: 1.8rem; /* space left dropdowntext */
	text-decoration:none;
	margin-bottom:.5rem;
	font-size: 1.6rem !important;
	height: 30px; /* defines the height of the dropdown items */

}

.submenu li a:hover {
	background-color:#ffcc99;
	text-decoration:none;
}
.Navhere {

	    background-image: url(http://www.konstnarscentrum.org/edit/images/icons/Kcriks-nav_bg.png);
		background-repeat: repeat-x;
		background-position: 0px 36px;
}

