 
form { margin:0px }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
p:first-child { margin-top:0px }
table { empty-cells:hide }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
#footer { background-image:url("../Resources/footer.png"); background-repeat:no-repeat; background-position:top right }
#footerwrapper { background-image:url("../Resources/back-footer.jpg") }
#footerwrapper-mitt { background-image:url("../Resources/back-footer-mitt.jpg") }
#footerwrapper-nord { background-image:url("../Resources/back-footer-nord.jpg") }
#footerwrapper-ost { background-image:url("../Resources/back-footer-ost.jpg") }
#footerwrapper-syd { background-image:url("../Resources/back-footer-syd.jpg") }
#footerwrapper-vast { background-image:url("../Resources/back-footer-vast.jpg") }
#header { background-image:url("../Resources/header.jpg"); background-repeat:no-repeat; background-position:center top }
#header-mitt { background-image:url("../Resources/header-mitt.jpg"); background-repeat:no-repeat; background-position:center top }
#header-nord { background-image:url("../Resources/header-nord.jpg"); background-repeat:no-repeat; background-position:center top }
#header-ost { background-image:url("../Resources/header-ost.jpg"); background-repeat:no-repeat; background-position:center top }
#header-syd { background-image:url("../Resources/header-syd.jpg"); background-repeat:no-repeat; background-position:center top }
#header-vast { background-image:url("../Resources/header-vast.jpg"); background-repeat:no-repeat; background-position:center top }
#headerwrapper { background-image:url("../Resources/back-header.png"); background-repeat:no-repeat; background-position:center top }
#headerwrapper-mitt { background-image:url("../Resources/back-headerwrapper-mitt.jpg"); background-repeat:repeat-x; background-position:center top }
#headerwrapper-nord { background-image:url("../Resources/back-headerwrapper-nord.jpg"); background-repeat:repeat-x; background-position:center top }
#headerwrapper-ost { background-image:url("../Resources/back-headerwrapper-ost.jpg"); background-repeat:repeat-x; background-position:center top }
#headerwrapper-syd { background-image:url("../Resources/back-headerwrapper-syd.jpg"); background-repeat:repeat-x; background-position:center top }
#headerwrapper-vast { background-image:url("../Resources/back-headerwrapper-vast.jpg"); background-repeat:repeat-x; background-position:center top }
#navwrapper { background-image:url("../Resources/back-navwrapper.png"); background-repeat:repeat-x }
a:link { color:#656565 }
a:visited { color:#656565 }
a:hover { color:#000 }
a:active { color:#000 }
body { font-family:Verdana,Arial,Helvetica,sans-serif }
em { font-style:italic }
h1 { color:#516d85; font-weight:normal; font-size:18px; letter-spacing:2.16px }
h1:first-child { margin-top:0px }
h2 { color:#516d85; font-weight:normal; font-size:16px; text-align:center; padding:5px 10px 5px 10px }
h2:first-child { margin-top:0px }
h3 { color:#516d85; font-size:14px }
h3:first-child { margin-top:0px }
h4 { color:#516d85; font-size:12px; margin-left:25px; margin-bottom:10px }
h4:first-child { margin-top:0px }
h5 { color:#516d85; font-size:12px; margin-left:25px; margin-bottom:10px }
h5:first-child { margin-top:0px }
hr { margin-top:5px; margin-bottom:0.1px; border:0; color:#B4B4B4; background-color:#B4B4B4; height:1px; width:100%; tex-align:left }
p { color:#656565; font-size:12px; line-height:1.6 }
strong { font-weight:bold }
.curlNO { z-index:auto !important;  -moz-border-radius:0 0 0 120px / 0 0 0 0px; border-radius:0 0 0 120px / 0 0 0 0px; -webkit-box-shadow:0 1px 4px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow:0 1px 4px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; box-shadow:0 1px 4px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
.curlRIGHT { z-index:auto !important; -moz-border-radius:0 0 120px 0 / 0 0 6px 0; border-radius:0 0 120px 0 / 0 0 6px 0; -webkit-box-shadow:0 1px 4px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow:0 1px 4px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; box-shadow:0 1px 4px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
.curlRIGHT:before { content:""; position:absolute; bottom:19px; right:19px; width:70%; height:70%; max-width:320px; max-height:150px; z-index:-1; background: rgba(0, 0, 0, 0.6); -webkit-box-shadow:0px 15px 10px rgba(0, 0, 0, 0.5), 10px 25px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow:0px 15px 10px rgba(0, 0, 0, 0.5), 10px 25px 10px rgba(0, 0, 0, 0.2); 
box-shadow:0px 15px 10px rgba(0, 0, 0, 0.5), 10px 25px 10px rgba(0, 0, 0, 0.2); -webkit-transform: skew(5deg, 4deg); -moz-transform: skew(5deg, 4deg); -ms-transform: skew(5deg, 4deg); -o-transform: skew(5deg, 4deg); transform: skew(5deg, 4deg); }
.kcriks { color:#edf2f7 }
