.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;

  h2 {
    line-height: 1;
  }

  &.minusMargin {
    @include mq($from: tablet) {
      width: calc(100% + (2 * var(--grid-unit)));
      margin-left: calc((-1 * var(--grid-unit)));
      margin-right: calc((-1 * var(--grid-unit)));
    }
  }
}
