.filter {
	position: relative;
	margin-top: 1px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: calc(var(--small-space) + 1rem);

	@include mq($until: desktop) {
		margin-left: calc(var(--outer-margin) * -1);
		margin-right: calc(var(--outer-margin) * -1);
		padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
		width: 100vw;
		max-width: 100vw;
	}

	> ul {
		position: relative;
		list-style: none;
		display: flex;
		flex-direction: row;
		padding-left: 0 !important;
		scrollbar-width: 0px;
		margin-right: calc(-1 * var(--outer-margin));

		@include mq($until: desktop) {
			max-width: 100vw;
			overflow-x: auto;
			overflow-y: hidden;

			&::-webkit-scrollbar {
				height: 0px;
			}

			&::-webkit-scrollbar-thumb,
			&::-webkit-scrollbar-track {
				background: transparent;
			}
		}
	}

	li {
		position: relative;
		display: flex;
		flex-direction: row;
		padding-right: 1em;
		&.selected {
			a {
				color: var(--orange-dark);
			}
		}

		.value {
			position: relative;
			display: flex;
			flex-direction: row;
			padding-right: 0em;
			cursor: pointer;
			margin-left: 0.5em;

			button {
				all: unset;
				white-space: nowrap;
				display: inline-block;
				&::after {
					display: inline-block;
					margin-left: 0.3em;
					content: '›';
					transform: rotate(90deg);
				}
				&.open {
					&::after {
						transform: rotate(0deg);
					}
				}
			}
		}
	}
}

.dropdown {
	list-style: none;
	position: fixed;
	left: 0;
	top: 2.1em;
	display: none;
	flex-direction: column;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: -1em;
	z-index: 2;
	background-color: var(--orange-light-solid);

	@include mq($from: desktop) {
		top: 2.3em;
	}

	button {
		all: unset;
		cursor: pointer;
	}

	&.open {
		display: flex;
	}
	li {
		white-space: pre;
		line-height: 1.75em;
		&:hover a {
			color: var(--orange-dark);
		}
	}

	.value {
		position: relative;
		cursor: pointer;
		margin-left: 0.5em;

		button {
			white-space: nowrap;
			overflow: hidden;
			&::after {
				display: inline-block;
				margin-left: 0.3em;
				content: '›';
				transform: rotate(90deg);
			}
			&.open {
				&::after {
					transform: rotate(0deg);
				}
			}
		}
	}

	ul.options {
		list-style: none;
		position: absolute;
		top: 2.28em;
		left: 0;
		display: none;
		flex-direction: column;
		padding: 0.5em;
		padding-left: 1em;
		padding-right: 1em;
		margin-left: -1em;
		z-index: 2;

		&.open {
			display: flex;
		}
		li {
			white-space: pre;
			line-height: 1.75em;
			&:hover a {
				color: var(--orange-dark);
			}
		}
	}
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	background-color: var(--orange-light);
	pointer-events: none;

	@include mq($from: desktop) {
		width: 100vw;
		margin-left: calc((var(--full-margin) - var(--total-outer-margin)));
	}
}
