.gallery {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  z-index: 4000;

  .images {
    --height: calc(100vh - calc(2 * var(--outer-margin)) - 1em);
    --width: calc(100vw - calc(2 * var(--outer-margin)) - calc(2 * var(--gutter)));
    max-height: var(--height);
    min-height: var(--height);
    margin-bottom: 2rem;
    max-width: var(--width);
    min-width: var(--width);

    @include mq($until: desktop) {
      max-width: 100vw;
      min-width: 100vw;
    }

    .slide {
      position: relative;
      max-height: var(--height);
      min-height: var(--height);
      display: flex;
      justify-content: center;
      align-items: center;

      .image {
        position: relative;
        margin: 0;
        object-fit: contain;
        max-height: var(--height);
        cursor: pointer;

        &.portrait {
          object-fit: contain;
        }
      }

      .loading {
        position: absolute;
        background-color: var(--black);
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .caption {
    position: absolute;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    font-weight: normal;
    color: var(--white) !important;
    margin-right: var(--outer-margin);
    margin-left: var(--outer-margin);

    .text {
      z-index: 100000;
      padding-top: 0.5em;
      padding-bottom: 0.8em;

      @include mq($from: tablet) {
        padding-left: 1.5em;
        padding-right: 1.5em;
        border-radius: 1.5em;
      }

      background-color: var(--black);

      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    color: var(--white);
    z-index: 500;
    cursor: pointer;
    margin: 1rem;
    writing-mode: vertical-lr;
  }

  @include mq($until: tablet) {}
}