.meta {
  border: 1px solid var(--beige-mid);
  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.8em;
  margin-bottom: var(--space);

  table {
    columns: 2;
    @include mq($from: tablet) {
      display: block;
    }
    list-style: none;
    padding-left: 0;

    td {
      padding-bottom: 0.5em;

      span {
        color: var(--beige-dark);
        padding-right: 1em;

        @include mq($from: tablet) {
          padding-right: 0.5em;
          width: 30%;
        }

        display: inline-block;
      }
    }
  }
}
