.tooltip {
  max-width: 30vw;
  max-height: 40vh;
  overflow-y: scroll;
  border: 5px solid var(--foreground);

  > div {
    all: unset;

    > div {
      background-color: var(--background);
      opacity: 1;
      border: 0;
      border-radius: 0;
      padding: 1rem;

      p {
        color: var(--foreground);
        margin: 0;
        font-size: 0.8rem;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 1px;
  }
}
