.container {
  width: calc(100% + 2 * var(--total-outer-margin));
  font-size: 0.7rem;
  margin-left: calc(-1 * var(--total-outer-margin));
  margin-right: calc(-1 * var(--total-outer-margin));

  th {
    font-weight: bold;
    text-align: left;
    padding-top: 2rem;
  }

  tr {
    padding: 0;
    position: relative;
    width: 100%;

    &:hover {
      background-color: var(--orange-light);
    }

    td {
      width: auto;
      cursor: pointer;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
      vertical-align: middle;

      &.buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        border: 0;
        opacity: 0;
        margin-right: 0.5rem;

        button {
          //all: unset;
          font-size: 0.7rem !important;
          background-color: var(--orange-light);

          cursor: pointer;
          padding: 0rem;
          padding-left: 0.25em;
          padding-right: 0.25em;
          border: none;

          &:hover {
            background-color: var(--orange);
          }

          &:first-of-type {
            margin-left: 0.25em;
          }
        }
      }

      .extended {
        display: none;
      }

      &.open {
        .extended {
          display: block;
        }
      }

      hr {
        width: 100%;
      }
    }

    &:hover {
      .buttons {
        opacity: 1;
      }
    }
  }

  .export {
    margin-top: var(--space);
    margin-left: var(--total-outer-margin);
    margin-right: var(--total-outer-margin);
    width: calc(100% - 2 * var(--total-outer-margin));
  }
}

.modal {
  display: none;
  //display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: var(--total-outer-margin);
  background-color: transparent;

  .wrap {
    position: relative;
    border: 2px solid var(--orange);
    width: 100%;
    height: 100%;
    background-color: var(--background);
    padding: var(--outer-margin);

    .content {
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      padding: var(--outer-margin);
      &:hover {
        background-color: var(--background);
        color: var(--foreground);
      }
    }
  }

  &.show {
    display: flex;
  }
}

.error {
  color: #e00;
  margin-bottom: 1rem;
}
