.container {
  width: 100%;
  font-size: 0.7rem;

  th {
    font-weight: bold;
    text-align: left;
    padding-top: 2rem;
  }

  tr {
    padding: 0;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;

    td {
      width: auto;
      cursor: pointer;

      &.buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        opacity: 0;

        button {
          //all: unset;
          font-size: 0.7rem !important;

          cursor: pointer;
          padding: 0rem;
          padding-left: 0.25em;
          padding-right: 0.25em;
          border: none;

          &:first-of-type {
            margin-left: 0.25em;
          }
        }
      }

      .extended {
        display: none;
      }

      &.open {
        .extended {
          display: block;
        }
      }

      hr {
        width: 100%;
      }
    }

    &:hover {
      .buttons {
        opacity: 1;
      }
    }
  }
}

.error {
  color: #e00;
  margin-bottom: 1rem;
}