.container {
  display: none;
  flex-direction: column;

  &.show {
    display: flex;
  }

  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;

    label {}

    input {
      margin: 0;
    }

    .success {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-color: var(--white);
      padding: 1rem;

      button {
        margin-top: 1rem;
      }
    }
  }

  .error {
    color: #e00;
    margin-bottom: 1rem;
  }

  .success {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 1rem;

    button {
      margin-top: 1rem;
    }
  }
}