.container {
  display: none;

  &.show {
    display: flex;
  }

  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;

    label {}

    input {
      margin: 0;
    }
  }

  .error {
    color: #e00;
    margin-bottom: 1rem;
  }

  .success {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 1rem;

    button {
      margin-top: 1rem;
    }
  }
}