.container {
  position: relative;
  margin-top: var(--space);
  padding-top: var(--space);
  padding-bottom: var(--space);

  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
  }
}
