.video {
  display: block;
  height: auto;
  margin-top: var(--space);
  margin-bottom: var(--space);
  width: calc(100% + (var(--outer-margin) * 2));
  margin-left: calc(-1 * var(--outer-margin));
  margin-left: calc(-1 * var(--outer-margin));

  @include mq($from: tablet) {
    width: calc(100% + (var(--grid-unit) * 4));
    margin-left: calc(-2 * var(--grid-unit));
    margin-left: calc(-2 * var(--grid-unit));
  }

  .player {
    width: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .caption {
    @include mq($until: tablet) {
      margin-left: var(--outer-margin);
      margin-right: var(--outer-margin);
    }
  }
}
