.hamburger {
  position: fixed;
  display: flex;
  align-items: center;
  top: 4px;
  right: 0;
  margin-right: calc(var(--outer-margin) - 12px);
  color: var(--black);
  z-index: 300;

  @include mq($from: tablet, $until: nav-break) {
    top: 20px;
  }
}

.mobileMenu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  //max-height: calc(100vh - calc(100vh - 100%));
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: var(--white);
  padding-left: var(--total-outer-margin);
  padding-right: var(--outer-margin);
  padding-top: var(--navbar-height);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  color: var(--black) !important;

  a {
    color: var(--black) !important;
  }

  &.show {
    transform: translateX(0%);
  }

  nav {
    --height: calc(100vh - var(--navbar-height) - var(--small-space));
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;

    ul {
      width: 100%;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        border-bottom: 1px solid var(--beige-mid);

        &:last-child {
          position: absolute;
        }

        &.sub {
          background-color: var(--beige-light);
          padding-left: 1rem;
          width: calc(100% + 1rem);
        }
      }

      &.footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 1 1 100%;
        margin-bottom: 2rem;

        img.caret {
          margin-left: 0.3rem;
          transition: transform 0.4s ease-in-out;

          &.open {
            transform: rotate(-180deg);
          }
        }

        li:first-child {
          margin-top: 1rem;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    background: var(--white);
  }

  ::-webkit-scrollbar:vertical {
    width: 0px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--white);
  }
}

.selected {
  color: var(--beige-dark) !important;
}

.selectedSub {
  a {
    color: var(--beige-dark) !important;
  }
}

@include mq($from: nav-break) {
  .mobileMenu,
  .hamburger {
    display: none;
  }
}
