.form {
  padding-top: var(--small-space);

  form {
    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input,
    textarea,
    button {
      width: 100%;
      margin-bottom: 1rem;
    }

    input[type="file"] {
      display: none;
    }

    &.loading {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .error {
    color: var(--red);
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  .filename {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;

    span {
      &:nth-child(1) {
        flex: 1 1 auto;
      }

      &:nth-child(2) {
        cursor: pointer;
        color: var(--beige-dark);

        &:hover {
          color: var(--black);
        }
      }
    }
  }
}
