.container {
  display: flex;
  flex-direction: row;
  color: var(--white);
  margin-top: var(--space);
  margin-right: calc(-1 * var(--outer-margin));
  margin-left: calc(-1 * var(--outer-margin));
  width: calc(100% + (2 * var(--outer-margin))) !important;

  @include mq($until: tablet) {
    height: 60vh;
  }

  @include mq($from: tablet) {
    min-width: calc(100% - (2 * var(--full-margin)));
    margin-right: var(--full-margin);
    margin-left: var(--full-margin);
    max-width: none;
    max-height: calc(100vh - (2 * var(--navbar-height)));
  }

  figure {
    flex: 0 0 50%;
    position: relative;

    .image {
      width: 100%;

      height: 60vh;
    }

    figcaption {
      position: absolute;
      top: var(--small-space);
      left: 0;
      width: 100%;
      height: 100%;

      @include mq($from: tablet) {
        padding-left: calc(var(--grid-unit));
        padding-right: calc(var(--grid-unit));
      }

      h2,
      p,
      a {
        z-index: 2;
        position: relative;
      }

      h2 {
        padding-bottom: 0.5em;
      }

      p {
        //display: none;
        margin-bottom: 0;
        //padding-right: var(--grid-unit);
      }

      a {
        //display: none;
        color: var(--white);
      }

      .fade {
        //display: none;
        background: var(--fade-dark);
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 70%;
        margin-top: calc(-1 * var(--small-space));
        width: 100%;

        @include mq($from: tablet) {
          //margin-left: calc(-1 * var(--grid-unit));
          //margin-right: calc(-1 * var(--grid-unit));
          //width: calc(100% + (4 * var(--grid-unit)));
        }
      }
    }
  }

  .black {
    color: var(--black);
  }
}
